<web-app>
	<servlet>
		<servlet-name>LoginDemo</servlet-name>
		<servlet-class>com.wipro.devops.LoginDemo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginDemo</servlet-name>
		<url-pattern>/LoginDemo</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ResetPassword</servlet-name>
		<servlet-class>com.wipro.devops.ResetPassword</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ResetPassword</servlet-name>
		<url-pattern>/ResetPassword</url-pattern>
	</servlet-mapping>
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
</web-app>
